
# DFX CANISTER ENVIRONMENT VARIABLES
DFX_VERSION='0.31.0'
DFX_NETWORK='local'
CANISTER_ID_FRONTEND=
CANISTER_ID_BACKEND=
CANISTER_ID=
CANISTER_CANDID_PATH=
# END DFX CANISTER ENVIRONMENT VARIABLES
#
OPENAI_API_KEY=
